<section id="about-us" class="about">
    <div class="about-container">
        <div class="about-content">
            <div class="about-signature">
                <h2 class="about-signature-text">About us</h2>
            </div>
            <h3 class="about-title title">Our craftsmanship: creating unique handmade furniture</h3>
            <p class="about-text">Discover the inspiration behind our modern and minimalist designs, and
                see how we bring them to life through our skilled craftsmanship.</p>
                <ul class="about-stat-list">
                    <li class="about-stat-item">
                        <p class="statistic">5+</p>
                        <p class="statistic-content">
                            Years of experience creating handcrafted furniture   
                        </p>
                    </li>
                    <li class="about-stat-item">
                        <p class="statistic">100%</p>
                        <p class="statistic-content">
                            Sustainably sourced materials used in all of our furniture   
                        </p>
                    </li>
                    <li class="about-stat-item">
                        <p class="statistic">500+</p>
                        <p class="statistic-content">
                            Unique furniture designs crafted by our skilled artisans  
                        </p>
                    </li>
                </ul>
        </div>
        <!-- <div class="about-picture"> -->
            <picture class="about-us-picture">
                <source
                  srcset="/images/about-us/product-sofa.jpg 1x, /images/about-us/product-sofa-2x.jpg 2x"
                  media="(min-width:1440px)"
                  alt="sofa"
                  
                />
                <source
                  srcset="/images/about-us/product-sofa-tab.jpg 1x, /images/about-us/product-sofa-tab-2x.jpg 2x"
                  media="(min-width:768px)"
                  alt="sofa"
                  
                />
                <source
                  srcset="/images/about-us/product-sofa-mob.jpg 1x, /images/about-us/product-sofa-mob-2x.jpg 2x"
                  media="(max-width:767px)"
                  alt="sofa"
                />
                <img
                  src="/images/about-us/product 2.jpg.jpg"
                  alt="sofa"
                  
                />
              </picture>
        <!-- </div> -->
        
    </div>
</section>