<section class="bestsellers-section">
    <div class="bestsellers-container-div container">
      <h3 class="bestsellers-slogan">Bestsellers</h3>
    <ul class="bestsellers-list">
        <li class="bestsellers-li">
        <div class="bestsellers-img-div">
          <img class="bestsellers-img-mob" src="./images/bestsellers/1-mob.jpg" alt="product-1" width="343" height="193">
          <img class="bestsellers-img-tablet" src="./images/bestsellers/1-tabl.jpg" alt="product-1" width="704" height="489">
          <img class="bestsellers-img-desktop best-title" src="./images/bestsellers/1-desktop.jpg" alt="product-1"  width="536" height="489">
          <p class="bestsellers-text-img">The modern platform bed</p>
          <p class="bestsellers-text">750$</p>
        </div>
        </li>
        <div class="bestsellers-div">
      <li class="bestsellers-li">
            <img class="bestsellers-img-mob " src="./images/bestsellers/2-mob.jpg" alt="product-2"  width="343" height="193">
            <img class="bestsellers-img-tablet" src="./images/bestsellers/2-tabl.jpg" alt="product-2" width="336" height="193">
            <img class="bestsellers-img-desktop" src="./images/bestsellers/2-desktop.jpg" alt="product-2" width="258" height="193">
            <p class="bestsellers-text-img">The Cozy Lounge Chair</p>
            <p class="bestsellers-text">230$</p>
        </li>
       <li class="bestsellers-li">
              <img class="bestsellers-img-mob" src="./images/bestsellers/3-mob.jpg" alt="product-3" width="343" height="193">
              <img class="bestsellers-img-tablet" src="./images/bestsellers/3-tabl.jpg" alt="product-3" width="336" height="193" >
              <img class="bestsellers-img-desktop" src="./images/bestsellers/3-desktop.jpg" alt="product-3" width="258" height="193">
              <p class="bestsellers-text-img">The industrial accent chair</p>
              <p class="bestsellers-text">250$</p>
            </li>   
            <li class="bestsellers-li">
                <img class="bestsellers-img-tablet" src="./images/bestsellers/4-tabl.jpg" alt="product-4" width="336" height="193">
                <img class="bestsellers-img-desktop" src="./images/bestsellers/4-desktop.jpg" alt="product-4" width="258" height="193">
                <p class="bestsellers-text-img">The sleek stand</p>
                <p class="bestsellers-text">300$</p>
            </li>
              <li class="bestsellers-li">
                <img class="bestsellers-img-tablet" src="./images/bestsellers/5-tabl.jpg" alt="product-5" width="336" height="193">
                <img class="bestsellers-img-desktop" src="./images/bestsellers/5-desktop.jpg" alt="product-5" width="258" height="193" >
                <p class="bestsellers-text-img">The minimalist sofa</p>
                <p class="bestsellers-text">650$</p>
              </li>
        </div>
        </div>
    </li>
    </ul>
    </section>
    
    