<section class="sellers" id="bestsellers">
  <div class="container">
    <h2 class="sellers-title">Bestsellers</h2>
    <div class="sellers-wrap">
      <div class="sellers-main-card">
        <picture class="sellers-main-img">
          <source srcset="./images/bestsellers/1-1x.jpg 1x, ./images/bestsellers/1-2x.jpg 2x"
            media="(min-width:1440px)" />
          <source srcset="./images/bestsellers/tablet-1-1x.jpg 1x, ./images/bestsellers/tablet-1-2x.jpg"
            media="(min-width:768px)" />
          <source srcset="./images/bestsellers/mod-1-1x.jpg 1x, ./images/bestsellers/mod-1-2x.jpg 2x"
            media="(min-width:320px)" />
          <img src="./images/bestsellers/1.jpg" alt="modern bed" width="704" />
        </picture>
        <h3 class="sellers-subtitle">The modern platform bed</h3>
        <p class="sellers-price">750$</p>
      </div>
      <div class="sellers-card-wrap">
        <ul class="sellers-list">
          <li class="sellers-item">
            <picture>
              <source
                srcset="./images/bestsellers/2-1x.jpg 1x, ./images/bestsellers/2-2x.jpg"
                media="(min-width:1440px)" />
              <source
                srcset="./images/bestsellers/tablet-2-1x.jpg 1x, ./images/bestsellers/tablet-2-2x.jpg"
                media="(min-width:768px)" />
              <source
                srcset="./images/bestsellers/mod-2-1x.jpg 1x, ./images/bestsellers/mod-2-2x.jpg 2x"
                media="(min-width:320px)" />
              <img src="./images/bestsellers/2.jpg" alt="The Cozy Lounge Chair" width="343" />
            </picture>
            <h3 class="sellers-subtitle">The Cozy Lounge Chair</h3>
            <p class="sellers-price">230$</p>
          </li>

          <li class="sellers-item">
            <picture>
              <source
                srcset="./images/bestsellers/3-1x.jpg 1x, ./images/bestsellers/3-2x.jpg"
                media="(min-width:1440px)" />
              <source
                srcset="./images/bestsellers/tablet-3-1x.jpg 1x, ./images/bestsellers/tablet-3-2x.jpg"
                media="(min-width:768px)" />
              <source
                srcset="./images/bestsellers/mod-3-1x.jpg 1x, ./images/bestsellers/mod-3-2x.jpg 2x"
                media="(min-width:320px)" />
              <img src="./images/bestsellers/3.jpg" alt="The industrial accent chair" width="343" />
            </picture>
            <h3 class="sellers-subtitle">The industrial accent chair</h3>
            <p class="sellers-price">250$</p>
          </li>

          <li class="sellers-item hidden">
            <picture>
              <source
                srcset="./images/bestsellers/4-1x.jpg 1x, ./images/bestsellers/4-2x.jpg"
                media="(min-width:1440px)" />
              <source
                srcset="./images/bestsellers/tablet-4-1x.jpg 1x, ./images/bestsellers/tablet-4-2x.jpg"
                media="(min-width:768px)" />
              <img src="./images/bestsellers/4.jpg" alt="The sleek stand" width="343" />
            </picture>
            <h3 class="sellers-subtitle">The sleek stand</h3>
            <p class="sellers-price">300$</p>
          </li>

          <li class="sellers-item hidden">
            <picture>
              <source
                srcset="./images/bestsellers/5-1x.jpg 1x, ./images/bestsellers/5-2x.jpg"
                media="(min-width:1440px)" />
              <source
                srcset="./images/bestsellers/tablet-5-1x.jpg 1x, ./images/bestsellers/tablet-5-2x.jpg"
                media="(min-width:768px)" />
              <img src="./images/bestsellers/5.jpg" alt="The minimalist sofa" width="343" />
            </picture>
            <h3 class="sellers-subtitle">The minimalist sofa</h3>
            <p class="sellers-price">650$</p>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>





    