<section class="clients-reviews">
  <h1 class="cr-title">Clients reviews</h1>
  <div class="cr-container container">
    <h2 class="client-name">Alexandra dream</h2>
    <p class="client-date">1 week ago</p>
    <p class="client-recall">
      I was blown away by the quality and craftsmanship of the furniture I
      received from this company. Each piece was unique and beautifully
      designed, and you can tell that a lot of thought and care goes into every
      detail.
    </p>
  </div>
</section>
