<section class="our-prod-section" id="our-products">
  <div class="our-prod-container container">
    <h2 class="our-prod-title">Our products</h2>
    <ul class="our-prod-list">
      <li class="our-prod-list-item">
        <!-- <div class="our-prod-it-wraprer"> -->
        <div class="our-prod-img-wrapper">
          <img
            srcset="../images/our-products/product1-2x.jpg 2x"
            class="our-products-img"
            src="../images/our-products/product1.jpg"
            alt="TV stand"
            width="300"
          />
        </div>
        <h3 class="our-prod-list-item-exp">Minimalist storage solutions</h3>
        <!-- </div> -->
      </li>
      <li class="our-prod-list-item">
        <img
          srcset="../images/our-products/product2-2x.jpg 2x"
          class="our-prod-img"
          src="../images/our-products/product2.jpg"
          width="312"
          height="300"
          alt="Dark blue sofa"
        />
        <h3 class="our-prod-list-item-text">Handcrafted minimalist seating</h3>
      </li>
      <li class="our-prod-list-item">
        <img
          srcset="../images/our-products/product3-2x.jpg 2x"
          class="our-prod-img"
          src="../images/our-products/product3.jpg"
          width="312"
          height="300"
          alt="table and chairs"
        />
        <h3 class="our-prod-list-item-exp">Sleek and simple tables</h3>
      </li>
      <li class="our-prod-list-item">
        <img
          srcset="../images/our-products/product4-2x.jpg 2x"
          class="our-prod-img"
          src="../images/our-products/product4.jpg"
          width="312"
          height="300"
          alt="Chair"
        />
        <h3 class="our-prod-list-item-exp">
          Minimalist seating for every space
        </h3>
      </li>
    </ul>
  </div>
</section>
