<section class="our-prod-section" id="our-products">
  <div class="our-prod-container container">
    <h2 class="our-prod-title">Our products</h2>
    <ul class="our-prod-list">
      <li class="our-prod-list-item">
        <div class="our-prod-img-wrapper">
          <img
            srcset="
            ../images/our-products/our-products-1.jpg 1x
            ../images/our-products/our-products-1-2x.jpg 2x"
            class="our-products-img"
            src="../img/our-products/our-products-1.jpg"
            width="312"
            height="300"
            alt="Minimalist storage solutions"
          />
        </div>
        <p class="our-prod-list-item-exp">Minimalist storage solutions</p>
      </li>
      <li class="our-prod-list-item">
        <img
          srcset="
        ../img/our-products/our-products-2.jpg 1x
        ../img/our-products/our-products-2-2x.jpg 2x"
          class="our-prod-img"
          src="../img/our-products/our-products-2.jpg"
          width="312"
          height="300"
          alt="Handcrafted minimalist seating"
        />
        <p class="our-prod-list-item-text">Handcrafted minimalist seating</p>
      </li>
      <li class="our-prod-list-item">
        <img
          srcset="
        ../img/our-products/our-products-3.jpg 1x
        ../img/our-products/our-products-3-2x.jpg 2x"
          class="our-prod-img"
          src="../img/our-products/our-products-3.jpg"
          width="312"
          height="300"
          alt="Sleek and simple tables"
        />
        <p class="our-prod-list-item-exp">Sleek and simple tables</p>
      </li>
      <li class="our-prod-list-item">
        <img
          srcset="
        ../img/our-products/our-products-4.jpg 1x
        ../img/our-products/our-products-4-2x.jpg 2x"
          class="our-prod-img"
          src="../img/our-products/our-products-4.jpg"
          width="312"
          height="300"
          alt="Minimalist seating for every space"
        />
        <p class="our-prod-list-item-texp">
          Minimalist seating for every space
        </p>
      </li>
    </ul>
  </div>
</section>
