<section class="price-section" id="price">
  <h2 class="price-title visually-hidden">Prices</h2>
  <div class="price-container container">
    <ul class="price-list list">
      <li class="price-list-item">
        <div class="price-container-list">
          <p class="price-mebles-text">chairs</p>
          <span class="price-mebles-dollars">from 200$</span>
        </div>
      </li>

      <li class="price-list-item">
        <div class="price-container-list">
          <p class="price-mebles-text">tables</p>
          <span class="price-mebles-dollars">from 250$</span>
        </div>
      </li>

      <li class="price-list-item">
        <div class="price-container-list">
          <p class="price-mebles-text">dressers</p>
          <span class="price-mebles-dollars">from 300$</span>
        </div>
      </li>

      <li class="price-list-item">
        <div class="price-container-list">
          <p class="price-mebles-text">sofas</p>
          <span class="price-mebles-dollars">from 500$</span>
        </div>
      </li>
    </ul>
  </div>
</section>
