<section class="price-section" id="prices">
  <div class="price-main-container container">
    <h2 class="price-title visually-hidden">
      Chairs Tables Dressers Sofas Price
    </h2>
    <div class="price-container">
      <ul class="price-list list">
        <li class="price-list-item">
          <div class="price-container-list">
            <p class="price-mebles-text">chairs</p>
            <p class="price-mebles-dollars">from 200$</p>
          </div>
        </li>

        <li class="price-list-item">
          <div class="price-container-list">
            <p class="price-mebles-text">tables</p>
            <p class="price-mebles-dollars">from 250$</p>
          </div>
        </li>

        <li class="price-list-item">
          <div class="price-container-list">
            <p class="price-mebles-text">dressers</p>
            <p class="price-mebles-dollars">from 300$</p>
          </div>
        </li>

        <li class="price-list-item">
          <div class="price-container-list">
            <p class="price-mebles-text">sofas</p>
            <p class="price-mebles-dollars">from 500$</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
