<section class="subscription" id="subcription">
  <div class="sub-container container">
    <div class="sub-form-container">
      <h2 class="sub-title">NEWSLETTER</h2>
      <p class="sub-text">
        Every week we will send you new designs and information about sales.
      </p>
      <form class="sub-form">
        <label for="user-name" class="sub-label">
        <input
          class="sub-input"
          type="text"
          name="username"
          id="username"
          placeholder="Name"
          required
          minlength="2"
          maxlength="16"
        /> <svg class="name-error-icon" id="name-error" width="24" height="24">
          <use
            href="./img/symbol-defs.svg#icon-input-error"
          ></use>
        </svg>




      </label>
      <label for="user-email" class="sub-label">
        <input
          class="sub-input email-error"
          type="email"
          id="email"
          name="email"
          placeholder="E-mail"
          required
          <svg class="email-error-icon" id="email-error" width="24" height="24">
            <use
              href="./img/symbol-defs.svg#icon-input-error"
            ></use>
          </svg>

      </label>
        />
        <div class="checkbox-container">
          <input
            class="sub-checkbox visually-hidden"
            type="checkbox"
            id="checkbox"
            name="checkbox"
            value="true"
            required
          />
          <label class="sub-agree" for="checkbox"
            ><span class="icon-pole-galochka"
              ><svg class="icon-galochka" width="13" height="13">
                <use href="./images/icons.svg#icon-checbox-galochka"></use></svg
            ></span>
            Agree to subscribe to the newsletter</label
          >
        </div>
      </form>
      <button class="sub-button" type="button">Send</button>
    </div>
    <img
      id="sub-image"
      class="sub-img"
      src="./images/subscription/subscribe-375.jpg"
      alt="A table with a green book and a vase of flowers on it, with a sofa to the right"
    />
  </div>
</section>
