<section class="subscription">
  <div class="sub-container">
    <div class="sub-form">
      <h2 class="sub-title">NEWSLETTER</h2>
      <p class="sub-text">
        Every week we will send you new designs and information about sales.
      </p>
      <div class="sub-input-container">
        <input
          class="sub-input"
          type="text"
          id="username"
          name="username"
          placeholder="Name"
          required
          minlength="2"
          maxlength="16"
        />
        <input
          class="sub-input"
          type="email"
          id="email"
          name="email"
          placeholder="E-mail"
          required
        />
        <div class="checkbox-container">
          <input
            class="sub-checkbox"
            type="checkbox"
            id="checkbox"
            name="checkbox"
          />
          <label class="sub-agree" for="checkbox"
            >Agree to subscribe to the newsletter</label
          >
        </div>
      </div>
      <button class="sub-button" type="button">Send</button>
    </div>
    <img class="sub-img" src="" alt="" />
  </div>
</section>
