<section class="subscription" id="subcription">
  <div class="sub-container container">
    <div class="sub-form-container">
      <h2 class="sub-title">NEWSLETTER</h2>
      <p class="sub-text">
        Every week we will send you new designs and information about sales.
      </p>
      <form class="sub-form">
        <input
          class="sub-input"
          type="text"
          name="username"
          id="username"
          placeholder="Name"
          required
          minlength="2"
          maxlength="16"
        />
        <input
          class="sub-input"
          type="email"
          id="email"
          name="email"
          placeholder="E-mail"
          required
        />
        <div class="checkbox-container">
          <input
            class="sub-checkbox"
            type="checkbox"
            id="checkbox"
            name="checkbox"
            value="true"
          />
          <label class="sub-agree" for="checkbox">
            Agree to subscribe to the newsletter</label
          >
        </div>
      </form>
      <button class="sub-button" type="button">Send</button>
    </div>
    <img
      id="sub-image"
      class="sub-img"
      src="./images/subscription/subscribe-375.jpg"
      alt="A table with a green book and a vase of flowers on it, with a sofa to the right"
    />
  </div>
</section>
