.about {
    background-color: fffffff;
}

.about-content {
    background-color: var(--light-blue);
    display: block;
    width: 343px;
    margin: 0 auto;
    padding: 64px 16px;
  }

  .about-signature {
    display: flex;
    width: 124px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  .about-signature:before {
    content: '';
    background-color: black;
    height: 1px;
    width: 30px;
    display: block;
  }

  .about-signature-text {
    color: var(--blue-font);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  .about-title {
    margin-bottom: 30px;
  }

  .title {
    color: var(--blue-font);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .about-text {
    color: var(--blue-font);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  .about-stat-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .about-stat-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    align-items: center;
  }

  .statistic {
    width: 170px;
    height: 75px;
    color: var(--blue-font);
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .statistic-content {
    width: 170px;
    color: var(--blue-font);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  @media screen and (max-width: 374px) {
    .about-content {
      width: 286px;
      padding: 64px 16px;
    }
  }

  @media screen and (min-width: 768px) {
    .about {
      max-width: 704px;
      margin: 0 auto;
    }
    .about-content {
      display: block;
      width: 700px;
      margin: 0 auto;
      padding: 36px 64px;
      margin-bottom: 30px;
    }
    .title {
      font-size: 32px;
      line-height: 1.41;
    }
    .about-text {
      font-size: 18px;
    }
    .about-stat-list {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 33px;
      justify-content: center;
      align-items: center;
    }
    .statistic-content {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 1440px) {
    .about {
      max-width: 1323px;
      margin: 0 auto;
    }
    .about-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
    .about-content {
        padding: 36px 69px 34px 69px;
        margin: 20px auto;
        max-width: 760px;
    }
    .title {
      font-size: 32px;
      line-height: 1.41;
    }
    .about-text {
      font-size: 18px;
    }
    .about-stat-list {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 33px;
      justify-content: center;
      align-items: center;
    }
    .statistic-content {
      font-size: 18px;
    }
  }