
.bestsellers-section{
    background-color: #fff;
    padding-bottom: 64px;
    }
    .container>.bestsellers-container-div{
    background-color: #fff;
    display: inline;
    align-items: center;
    
    }
    .bestsellers-img-div{
    padding-bottom: 30px;
    }
    .bestsellers-div{
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
    }
    
    .bestsellers-slogan{
    display: flex;
    padding-top: 64px;
    justify-content: center;
    padding-bottom: 21px;
    color: var(--blue-font, seA224A);
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    text-transform: uppercase;
        
    }
    .bestsellers-img-mob{
    width: 343px;
    height: 193px;
    }
    
    
    .bestsellers-list{
    display: inline;
    text-decoration: none;
    gap: 30px;
    max-width: 1096px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    }
    .bestsellers-img{
    width: 343px;
    height: 193px;
    display: none;
    }
    .bestsellers-text-img{
    color: var(--blue-font, #0A224A);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-top: 15px;
    }
    .bestsellers-text{
    color: var(--blue-font, #0A224A);
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    padding-top: 10px;
    }
    @media screen and (min-width:320px){
    .bestsellers-img-mob{
    display: none;
    }
    .bestsellers-img-tablet{
    display: inline;
    }
    .bestsellers-img-desktop{
    display: none;
    }
    
    }
    @media screen and (min-width:768px)  {
    .container{
    width: 706px;
    padding: 0;
    margin: auto;
    }
    .bestsellers-section{
    padding-bottom: 100px;
    }
    
    .bestsellers-img-div{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32px;
    }
    .bestsellers-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    }
    } 
    .bestsellers-slogan{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    padding-bottom: 30px;
    color: var(--blue-font, seA224A);
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    text-transform: uppercase;    
    }
    
    .bestsellers-img-mob{
    display: none; 
    }
    
    .bestsellers-img-tablet{
    display: inline;
    }
    .bestsellers-img-desktop{
    display: none;
    }
    
    @media screen and (min-width:1440px){
    .container{
    width: 1096px;
    padding: 0;
    margin: auto;
    }
    .bestsellers-section{
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .bestsellers-div{
    gap: 20px;
    row-gap: 30px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    }
    .bestsellers-slogan{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    padding-bottom: 30px;
    color: var(--blue-font, seA224A);
    font-size: 32px;
    font-weight: 400;
    line-height: 45px;
    text-transform: uppercase;
        
    }
    .bestsellers-list{
    display: flex;
    text-decoration: none;
    gap: 24px;
    justify-content: center;
    align-items: stretch;
    
    }
    .bestsellers-img-div{
    padding: 0;
    }
    .bestsellers-img-mob{
    display: none;
    }
    
    .bestsellers-img{
    display: flex;
    width: 258px;
    
    }
    
    .best-title{
    max-width: 536px;
    max-height: 489px;
    }
    .bestsellers-img-desktop{
    display: flex;
    }
    
    .bestsellers-img-tablet{
    display: none;
    }
    
    .bestsellers-img-mob{
    display: none;
    }
    }
    