
.bestsellers-section{
background-color: #fff;
padding-top: 64px;
margin-bottom: 64px;
}
.container{
width: 343px ;
}
.container>.bestsellers-container-div{
background-color: #fff;
display: inline;
align-items: center;
}
.bestsellers-img-div{
padding-bottom: 30px;
}
.bestsellers-div{
gap: 20px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
column-gap: 20px;
row-gap: 30px;
}

.bestsellers-slogan{
display: flex;
justify-content: center;
color: var(--blue-font, seA224A);
padding-bottom: 21px;
font-size: 32px;
font-weight: 400;
line-height: 45px;
text-transform: uppercase;
}
.bestsellers-img-mob{
width: 343px;
height: 193px;
}
.bestsellers-list{
display: flex;
flex-direction: column;
text-decoration: none;
max-width: 1096px;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
}
.bestsellers-img{
width: 343px;
height: 193px;
display: none;
}
.bestsellers-text-img{
color: var(--blue-font, #0A224A);
font-size: 18px;
font-weight: 400;
line-height: 1.5;
padding-top: 15px;
}
.bestsellers-text{
color: var(--blue-font, #0A224A);
font-size: 18px;
font-weight: 700;
line-height: 1.5;
padding-top: 10px;
}
.bestsellers-img-mob{
display: flex;
flex-direction: column;
}
.bestsellers-img-tablet{
display: none;
}
.bestsellers-img-desktop{
display: none;
}
.bestsellers-mob-none{
display: none;
}
@media screen and  (max-width:375px){
.container{
width: 343px ;
}
.bestsellers-img-mob{
display: flex;
flex-direction: column;
}
.bestsellers-img-mob{
background-image: 
url('../images/bestsellers/retina-mob-1.jpg'),
url('../images/bestsellers/retina-mob-2.jpg'),
url('../images/bestsellers/retina-mob-3.jpg');
}
}
@media screen and (min-width:768px) {
.container{
width: 706px;
padding: 0;
margin: auto;
}
.bestsellers-section{
padding-top: 100px;
margin-bottom: 100px;
}
.bestsellers-slogan{
display: flex;
justify-content: center;
padding-bottom: 30px;
color: var(--blue-font, seA224A);
font-size: 32px;
font-weight: 400;
line-height: 45px;
text-transform: uppercase;    
}
.bestsellers-text-img{
font-size: 18px;
}
.bestsellers-img-div{
margin-left: auto;
margin-right: auto;
padding-bottom: 32px;

}
.bestsellers-div{
display: flex;
flex-direction: row;
flex-wrap: wrap;
row-gap: 32px;
}
.bestsellers-img-mob{
display: none; 
}
.best-title{
display: none;
}
.bestsellers-img-tablet{
display: flex;
}
.bestsellers-img-desktop{
display: none;
}
.bestsellers-mob-none{
display: flex;
gap: 32px;
}
.bestsellers-img-tablet{
background-image: 
url('../images/bestsellers/retina-tablet-1.jpg'),
url('../images/bestsellers/retina-tablet-2.jpg'),
url('../images/bestsellers/retina-tablet-3.jpg'),
url('../images/bestsellers/retina-tablet-4.jpg'),
url('../images/bestsellers/retina-tablet-5.jpg');
}
}
@media screen and (min-width:1440px){
.container{
width: 1096px;
padding: 0;
margin: auto;
}
.bestsellers-section{
padding-top: 100px;
margin-bottom: 100px;
display: flex;
align-items: center;
justify-content: center;
}
.bestsellers-slogan{
display: flex;
justify-content: center;
padding-bottom: 30px;
color: var(--blue-font, seA224A);font-size: 32px;
font-weight: 400;
line-height: 45px;
text-transform: uppercase; 
}
.bestsellers-div{
gap: 20px;
row-gap: 30px;
flex-direction: row;
display: flex;
flex-wrap: wrap;
}

.bestsellers-list{
display: flex;
flex-direction: row;
text-decoration: none;
gap: 24px;
justify-content: center;
align-items: stretch;
}
.bestsellers-img-div{
padding: 0;
}
.bestsellers-img{
display: flex;
width: 258px;
}
.best-title{
max-width: 536px;
max-height: 489px;
}
.bestsellers-img-desktop{
display: flex;

}
.bestsellers-img-tablet{
display: none;
}
.bestsellers-img-mob{
display: none;
}
.bestsellers-mob-none{
display: flex;
}
.bestsellers-img-desktop{
background-image: 
url('../images/bestsellers/retina-desktop-1.jpg'),
url('../images/bestsellers/retina-desktop-2.jpg'),
url('../images/bestsellers/retina-desktop-3.jpg'),
url('../images/bestsellers/retina-desktop-4.jpg'),
url('../images/bestsellers/retina-desktop-5.jpg');
}
}
