
.clients-reviews {
    width: 100%;
    max-width: 1440px;
    background: var(--light-blue, #F7FAFF);;
    padding: 36px 0;
    margin: 0 auto;
}
.cr-title {
    color: var(--blue-font, #0A224A);
        font-size: 28px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 30px;
}
.clients-container {
    display: flex;
    padding: 0 16px;
    justify-content: center;
}
.cr-container {
    border-radius: 8px;
    background: var(--white, #FFF);
    height: 230px;
    width: 343px;
    /* padding: 0 24px; */
}
.cr-content {
    padding: 0 24px;
}
.cr-info {
    display: flex;
    margin-bottom: 24px;
    margin-top: 24px;
}
.cr-icon {
    margin-right: 14px;
}
.client-name {
    color: var(--blue-font, #0A224A);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.77;
}
.client-date {
    color: var(--blue-font, #0A224A);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.28;
}
.client-recall {
    color: var(--blue-font, #0A224A);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.43;
        /* width: 296px;
        height: 110px; */
}
@media screen and (min-width: 1px) and (max-width:374px) {
    .clients-container {
        justify-content: center;
    }
    .cr-container {
        width: 100%;
    }
    .cr-info {
        margin-bottom: 10px;
    }
    .client-name {
        font-size: 14px;
        line-height: 1.71;
    }
    .cr-recall {
        font-size: 10px;
        line-height: 1.6;
    }
}
@media screen and (min-width: 375px) {
    .client-recall {
        width: 296px;
        height: 110px;
    }
}
@media screen and (min-width: 1px) and (max-width:767px) {
    .cr-container:nth-last-child(-n+2) {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .cr-container:last-child {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .clients-container {
        gap: 16px;
        padding: 0 32px;
    }
    .cr-container {
        height: 319px;
    }
    .client-recall {
        font-size: 18px;
        line-height: 1.5;
    }
    .client-name {
        font-size: 20px;
        line-height: 2.25;
    }
    .client-date {
        font-size: 16px;
        line-height: 1.5;
    }
    .cr-info {
        margin-bottom: 14px;
        margin-top: 24px;
    }
    .cr-title {
        font-size: 32px;
        line-height: 1.4;
    }
}
@media screen and (min-width: 1440px) {
    .clients-reviews {
        padding: 60px 0;
    }
    .clients-container {
        gap: 24px;
        padding: 0 60px;
    }
    .cr-container {
        width: 424px;
        height: 306px;
    }
    .cr-content {
        padding: 0 32px;
    }
    .cr-info {
        margin-bottom: 16px;
        margin-top: 32px;
    }
    .client-recall {
        width: 360px;
        height: 161px;
    }
}