
.clients-reviews {
    width: 100%;
    background: black;
}
.cr-title {
    color: var(--blue-font, #0A224A);
        font-size: 28px;
        font-weight: 400;
        line-height: 42px;
        text-align: center;
        padding: 36px 0 30px 0;
}
.clients-container {
    display: flex;
    padding: 0 16px;
    justify-content: center;
}
.cr-container {
    border-radius: 8px;
    background: var(--white, #FFF);
    height: 230px;
    width: 343px;
    margin-bottom: 36px;
}
.cr-content {
    padding: 0 24px;
}
.cr-info {
    display: flex;
    margin-bottom: 24px;
    padding-top: 24px;
}
.cr-icon {
    margin-right: 14px;
}
.client-name {
    color: var(--blue-font, #0A224A);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
}
.client-date {
    color: var(--blue-font, #0A224A);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
}
.client-recall {
    color: var(--blue-font, #0A224A);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* width: 296px;
        height: 110px; */
}
@media screen and (min-width: 1px) and (max-width:374px) {
    .clients-container {
        justify-content: center;
    }
    .cr-container {
        width: 100%;
    }
    .cr-info {
        margin-bottom: 10px;
    }
    .client-name {
        font-size: 14px;
        line-height: 24px;
    }
    .cr-recall {
        font-size: 10px;
        line-height: 16px;
    }
}
@media screen and (min-width: 1px) and (max-width:767px) {
    .cr-container:nth-last-child(-n+2) {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .cr-container:last-child {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .clients-container {
        gap: 16px;
        padding: 0 32px;
    }
    .cr-container {
        height: 319px;
    }
    .client-recall {
        font-size: 18px;
        line-height: 27px;
    }
    .client-name {
        font-size: 20px;
        line-height: 45px;
    }
    .client-date {
        font-size: 16px;
        line-height: 24px;
    }
    .cr-info {
        margin-bottom: 14px;
    }
    .cr-title {
        font-size: 32px;
        line-height: 45px;
    }
}
@media screen and (min-width: 1440px) {
    .clients-container {
        gap: 24px;
        margin: 0 60px;
    }
    .cr-container {
        width: 424px;
        margin-bottom: 60px;
    }
    .cr-info {
        margin-bottom: 16px;
    }
    .client-recall {
        width: 360px;
        height: 161px;
    }
}