.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.container {
  max-width: 375px;
}
.logo-icon {
  width: 100px;
  height: 16px;
  stroke: #0a224a;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 16px;
  background: var(--light-blue, #f7faff);
}
.nav-menu-list {
  display: none;
}
.burger-btn {
  stroke: #0a224a;
}
.mob-logo-icon {
  width: 100px;
  height: 16px;
  color: #0a224a;
}

.mob-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.mob-menu-item {
  color: var(--blue-font, #0a224a);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}
.open-menu-btn {
  border: none;
  background-color: transparent;
  margin-left: auto;
}
.mob-top-section {
  width: 100%;
  display: flex;
  padding: 28px 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 112px;
  background: var(--light-blue, #f7faff);
}
.close-menu-icon {
  width: 30px;
  height: 30px;
  stroke: #0a224a;
}
.close-menu-btn {
  border-style: none;
  background: none;
}
.mob-menu-list {
  display: flex;
  width: 100%;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
@media screen and (min-width: 320px) {
}
@media screen and (min-width: 768px) {
  .nav-menu {
    width: 100%;
    padding: 32px 28px;
    gap: 537px;
  }

  .top-section {
    width: 100%;
    display: flex;
    padding: 28px 32px 27px 32px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 158px;
    background-color: #f7faff;
  }
  .logo-icon {
    width: 127px;
    height: 16px;
  }
  .mob-menu-list {
    display: flex;
    width: 100%;
    gap: 32px;
  }
  .mob-menu-item {
    color: var(--blue-font, #0a224a);
    font-size: 18px;
  }
  .close-menu-btn {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .nav-menu {
    padding: 38px 60px 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-blue, #f7faff);
  }

  .nav-menu-list {
    display: flex;
    gap: 30px;
  }
  .nav-menu-item {
    color: var(--blue-font, #0a224a);
    font-size: 18px;
    line-height: 1.5em; /* 150% */
  }
  .open-menu-btn {
    display: none;
  }
  .mob-menu-list {
    display: inline;
  }
}
