.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.header-section {
  width: 100%;
  background: var(--light-blue, #f7faff);
}

.logo-icon {
  width: 100px;
  height: 16px;
  fill: var(--blue-font, #0a224a);
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 16px;
}
.nav-menu-list {
  display: none;
}
.burger-btn {
  stroke: #0a224a;
}
.mob-logo-icon {
  width: 100px;
  height: 16px;
  fill: var(--blue-font, #0a224a);
}

.mob-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.mob-menu.is-open {
  opacity: 1;
  top: 0;
}
.mob-menu.is-hidden {
  top: 100%;
  opacity: 0;
  transition: top 0.9s ease-in-out, opacity 0.1s ease-in-out;
}
.mob-menu-item {
  color: var(--blue-font, #0a224a);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}
.open-menu-btn {
  border: none;
  background-color: transparent;
  margin-left: auto;
}
.mob-menu-container {
  width: 100%;
  background: var(--light-blue, #f7faff);
  margin-bottom: 112px;
}
/* .mob-top-section {
  width: 100%;
  display: flex;
  padding: 36px 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 112px;
  background: var(--light-blue, #f7faff);
} */
.mob-top-section {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
  padding: 36px 16px;
}
.close-menu-icon {
  width: 30px;
  height: 30px;
  stroke: #0a224a;
}
.close-menu-btn {
  border-style: none;
  background: none;
}
.mob-menu-list {
  display: flex;
  width: 100%;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
@media screen and (min-width: 375px) {
  .nav-container {
    max-width: 375px;
    margin: 0 auto;
  }
  .mob-menu-container {
  }
  .mob-top-section {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .nav-container {
    max-width: 768px;
  }
  .nav-menu {
    width: 100%;
    padding: 32px 28px;
    gap: 537px;
  }

  .top-section {
    width: 100%;
    display: flex;
    padding: 28px 32px 27px 32px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 158px;
    background-color: #f7faff;
  }
  .logo-icon {
    width: 127px;
    height: 16px;
    fill: var(--blue-font, #0a224a);
  }
  .mob-menu-container {
    width: 100%;
    margin-bottom: 150px;
  }
  .mob-logo-icon {
    width: 127px;
    height: 16px;
    fill: var(--blue-font, #0a224a);
  }

  .mob-menu-list {
    display: flex;
    width: 100%;
    gap: 32px;
  }
  .mob-menu-item {
    color: var(--blue-font, #0a224a);
    font-size: 18px;
  }
  .close-menu-btn {
    width: 40px;
    height: 40px;
  }
  .mob-top-section {
    max-width: 768px;
    padding: 32px 28px;
  }
}
@media screen and (min-width: 1440px) {
  .nav-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-menu {
    padding: 38px 60px 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-blue, #f7faff);
  }

  .nav-menu-list {
    display: flex;
    gap: 30px;
  }
  .nav-menu-item {
    font-size: 18px;
    line-height: 1.5em; /* 150% */
  }
  .open-menu-btn {
    display: none;
  }
  .mob-menu-list {
    display: inline;
  }
}
