/*-----------MOBIL-----------*/

.hero{
  
  }
  
  
  .hero .container{
background-image: 
  url(/images/hero/hero-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 313px;
  display: block;
  margin: 0 auto;
  max-width: 375px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero .container { background-image:
  url(/images/hero/hero-mob-2x.jpg);
}}

.hero-title
{width: 287px;
    color: var(--blue-font, #0A224A);
    font-family: Playfair Display, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 14px;
}

.hero-text{
        color: var(--blue-font, #0A224A);
        font-size: 16px;
        line-height: 1.5;
       text-align: left;
margin-bottom: 28px;}

.hero-btn{
    color:var(--white, #ffffff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    background:var(--blue-font, #0A224A);
    margin-right: auto;
    border: none;
    padding: 12px 65px;
    min-width: 224px;
    display: block;
    justify-items: center;
    }

    .hero-btn:hover,
    .hero-btn:focus{
           background: var(--blue-hard, #061835);
     
    }

    @media (min-width: 768) {
         .hero .container{ background-image:
      url(/images/hero/hero-tablet-1x.jpg);}}





/*----------- TABLET -----------*/

          
@media screen and (min-width: 768px) and (max-width:1439px) {
  .hero {
   padding-bottom: 100px;}

  
            .hero .container {
              max-width: 704px;
           padding: 0;
            }


         .hero .container {
          background-image: url(/images/hero/hero-tablet-1x.jpg);
          background-position: top 61px right 0;
      /* padding: 64px 32px 100px 32px; */
      padding-top: 61px;
      /* padding-bottom: 100px; */
      max-width: 704px;
      background-size: 100%;}


                @media (max-width: 798px) {
                  .hero .container{ background-image: 
                url(/images/hero/hero-tablet-1x.jpg);
                    } }
                
            @media (min-device-pixel-ratio:2), 
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
              .hero .container{ background-image:
              url(/images/hero/hero-tablet-2x.jpg);}}


.hero-title{width: 650px;
    font-size: 50px;
    margin-bottom: 410px;
   width: 648px;
   padding: 0;
}

.hero-text{margin-bottom: 38px;
    width: 312px;}             }






/*-----------DESKTOP----------- */



    @media screen and (min-width: 1440px)  {
        .hero .container {
          max-width: 1320px;
      width: 100%;
       padding: 0;
          margin: 0 auto;}


       /* padding-left: 12px;
       padding-right: 12px; */


        


        .hero {
            
        padding-top: 64px;
        padding-bottom: 100px;}
  
        /* padding-left: 12px;
        padding-right: 12px; */

        .hero .container{
          background-image: url(/images/hero/hero-desktop-1x.jpg);
          /* background-position: top 64px right 0; */
      /* padding: 64px 32px 100px 32px; */
      /* padding-top: 64px;
      padding-bottom: 100px;
      max-width: 1344px;
      background-size: 100%; */
      /* padding-left: 12px;
      padding-right: 12px; */
    
    
}
        
            @media (min-width: 1440px) {
              .hero .container{ background-image: 
            url(/images/hero/hero-desktop-1x.jpg);
                } }
            
        @media (min-device-pixel-ratio:2), 
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          .hero .container{ background-image:
            url(/images/hero/hero-desktop-2x.jpg);}}
        
        
        .hero-title{
            width: 648px;
font-family: Playfair Display, serif;
font-size: 50px;
margin-bottom: 246px;

        }
    
    .hero-text{
        margin-bottom: 30px;
        margin-left: auto;
        /* margin-right: 9px; */
        width: 312px;
        font-size: 18px;
line-height: 1.5;

    }

    .hero-btn{
        margin-left: auto;
        margin-right: 88px;
        font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    padding: 17px 65px;
    min-width: 224px;
    display: block;
    justify-items: center;
      }}
    
        
        
        
        
        
        
        