/* .test {
  position: relative;
  width: 100px;
  height: 100px;
  border: solid 2px red;
  overflow: hidden;
}

.inside {
  position: absolute;
  z-index: -2;

  width: 200px;
  height: 200px;
  border: solid 2px rgb(29, 14, 185);
  
  background-color: aqua;

  transform: translate(-50%, -50%);
} */
.our-prod-section {
  padding: 64px 0;
}

.our-prod-container {
}

.our-prod-title {
  text-align: center;
  color: var(--blue-font);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.our-prod-list {
  display: flex;
  justify-content: center;

  gap: 24px;
}

ul.our-prod-list li:not(:first-child) {
  display: none;
}

.our-prod-list-item {
  width: 100%;
}

.our-prod-img-wrapper {
  overflow: hidden;
  position: relative;
  border: solid 3px red;
  min-width: 290px;
  max-width: 343px;
  height: 300px;
}

.our-products-img {
  z-index: -1;
  max-width: 343px;
  height: 300px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
