.price-section {
  padding-left: 16px;
  padding-right: 16px;
  background: #fff;
}

.price-title {
  visibility: hidden;
}

.price-container {
  margin-top: 64px;
  margin-bottom: 64px;
}

.price-list {
  display: flex;
  width: 100%;
  max-width: 343px;
  flex-direction: column;
  border: 1px solid var(--blue-font);
  border-left: none;
  border-right: none;
}

.price-container-list {
  border: 1px solid var(--blue-font);
  border-left: none;
  border-right: none;
  height: 102px;
  text-align: center;
}

.price-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  margin-top: 30px;
  margin-bottom: 30px;
  /* width: 100%; */
}

.price-mebles-text {
  color: var(--blue-font);
  font-family: var(--primary-font);
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  position: relative;
  transition: all 0.9s ease-in-out;
}

.price-mebles-text:hover {
  transform: translateX(70px);
}

.price-mebles-text:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: -70px;
  width: 50px;
  height: 1px;
  background-color: var(--blue-font);
  top: 50%;
  transform: translateY(-50%);
}

.price-mebles-dollars {
  color: var(--blue-font);
  text-align: right;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
