.price-main-container {
  border: solid 1px red;
  max-width: 373px;
}

.price-section {
  border: solid 1px green;
  padding: 64px 0;
  background: #fff;
  margin: 0 auto;
}

.price-list {
  max-width: 343px;
  border: 1px solid var(--blue-font);
  border-left: none;
  border-right: none;
  margin: 0 auto;
}

.price-container-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.price-list > :not(:last-child) {
  border: 1px solid var(--blue-font);
  border-left: none;
  border-right: none;
  border-top: none;
}

.price-mebles-text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.5;
  text-transform: uppercase;
  /* position: relative; */
  transition: 300ms;
}

.price-mebles-text:hover {
  transform: translateX(70px);
}

.price-mebles-text:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: -70px;
  width: 50px;
  height: 2px;
  background-color: var(--blue-font);
  top: 50%;
  transform: translateY(-50%);
}

.price-mebles-dollars {
  font-weight: 700;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .price-main-container {
    max-width: 734px;
  }

  .price-section {
    padding: 100px 0;
  }

  .price-list {
    max-width: 704px;
  }

  .price-mebles-text {
    font-size: 32px;
    line-height: 1.4;
  }
  .price-mebles-dollars {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .price-main-container {
    max-width: 1126px;
  }
  .price-list {
    max-width: 1096px;
  }

  .price-mebles-text {
    font-size: 32px;
    line-height: 1.4;
  }
}
